h1 {
    color: indigo;
}

img { 
    width: 10%;
    border-radius:50%;
    margin: 20px;
    border: 10px solid;
    border-color: rgb(48, 36, 218);
}
button{
    display: inline-block;
    margin: 5%;
    margin-top:1%;
}
table.gastos{
    display:inline-flex;
    margin: 20px;
    border: 1px solid;
}
table.registrar{
    display:inline-flex;
    border: 1px solid;
}
th{
    padding: 10px;
    border: 1px solid;
}
table.registrar > tbody > tr > th{
    border: 0px;
}
