h1 {
    color: indigo;
}

img { 
    width: 10%;
    border-radius:50%;
    margin: 20px;
    border: 10px solid;
    border-color: rgb(48, 36, 218);
}
button{
    display: inline-block;
    margin: 5%;
    margin-top:1%;
}
table.gastos{
    margin: .5%;
    text-align: left;
}
table{
    border: 1px solid;
}
table.registrar{
    border: 1px solid;
}
table.abajo{
    border: 1px solid;
}
table.abajo > tbody > tr > th{
    border: 0px;
}
table#guardar{
    border: 0px;
}
th{
    padding: 10px;
    border: 1px solid;
}
td{
    text-align: left;
}
td#ingreso{
    text-align: center;
}
th#total{
    border: 0px;
}
table.registrar > tbody > tr > th, table#ingresar > tbody > tr > th{
    border: 0px;
}
.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
}
div>table{
    margin: 3%;
    margin-top: 1%;
}
td#derecha, th#derecha{
    text-align: right;
}
button#extras{
    margin: 1%;
}
td:nth-child(3) {
    text-align: center;
  }